<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="photos_container">
      <% photoInfos.map((photoInfo, index) => { %>
      <div class="photo_container">
        <p class="photo_name"><%= photoInfo.name %></p>
        <img
          class="photo"
          src="<%= photoInfo.srcUrl %>"
          alt="<%= photoInfo.altText %>"
        />
        <div class="vote_btn_container">
          <button
            class="btn btn-primary"
            id="<%= index %>"
            onclick="castVote('<%= photoInfo.id %>')"
          >
            Vote
          </button>
          <p id="<%= index %>" class="votes">
            Votes: <%= photoInfo.votes %>, Total Votes: <%= votes %>
          </p>
        </div>
        <% }); %>
      </div>
    </div>

    <script>
      var socket = io();

      socket.on("vote-to-client", (photoId) => {
        const voteStrs = document.querySelectorAll(".votes");
        voteStrs.forEach((obj) => {
          const str = obj.innerHTML;
          const tokens = str.split(": ");
          let curVotes = parseInt(tokens[1]);
          if (parseInt(photoId) === parseInt(obj.id)) curVotes++;
          let totalVotes = parseInt(tokens[2]) + 1;
          if (photoId === parseInt(obj.id));
          obj.innerHTML = `Votes: ${curVotes}, Total Votes: ${totalVotes}`;
        });
      });

      const btns = document.querySelectorAll(".btn");
      btns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          alert("sending vote to server");
          socket.emit("vote-to-server", e.target.id);
        });
      });
    </script>
    <script src="main.js"></script>
  </body>
</html>
